<div class="row">
  {{#each books}}
      {{!-- <div class="col-sm-6"> --}}
        <div class="card">
          <div class="card-body text-center">

            <img src="{{this.imagePath}}" class="card-img-top" alt="////Image error////">
            
            <h5 class="card-title">{{this.title}}</h5>
            
            <p class="card-text text-start">{{this.description}}</p>

            <p class="card-text text-start">Writer: {{this.writer}}</p>

            <p class="card-text text-start">Year:  {{this.year}}</p>
            
            <div>
                <div class="price me-md-2">{{this.price}}$</div>
                <a href="/add-to-cart/{{this.id}}" class="btn btn-primary d-grid">Buy this book</a>
            </div>
          
          </div>
        </div>
      {{!-- </div> --}}
  {{/each}}    
</div>
