{{# if products }}
<div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
                {{# each products }}
                    <li class="list-group-item">

                        <span class="badge">{{ this.qty }}</span>

                        <strong>Title: {{ this.item.title }}</strong>

                        <span class="label badge bg-success">{{ this.price }}$</span>

                        <span class="label badge bg-secondary">Amount: {{this.num}}</span>

                        <div class="btn-group">
                            <ul class="nav-item dropdown">
                                
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users-cog"></i>     Action</a>
                                
                                <div class="dropdown-menu dropdown-menu-end">
                                    
                                    <a class="dropdown-item" href="/reduce/{{this.item._id}}">Reduce by 1</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/remove/{{this.item._id}}">Remove</a>
                                    
                                </div>

                            </ul>
                        </div>

                    </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <strong>Total: {{ totalPrice }}</strong>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <a href="/checkout" type="button" class="btn btn-success">Checkout</a>
        </div>
    </div>
{{ else }}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <h2>No Items in Cart</h2>
        </div>
    </div>
{{/if}}